section {
	position: absolute;
	width: 256px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 20px black;
	background: hsla(0, 0%, 25%, 0.8);
	z-index: 1;
	padding-bottom: 8px;

	margin-top: 24px;
}

section.selected,
section.selected h1 {
	border: 1px solid white;
}

section.selected {
	border-top: none;
	transform: translate(-1px, 0);
}

section .row {
	position: relative;
}

section canvas {
	width: 256px;
	height: 256px;
	vertical-align: top;
}

section h1,
section label {
	display: block;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	height: 24px;
	margin: 0;
	padding: 0 16px;
}

section h1 {
	background: rgba(0, 156, 184, 0.8);
	border-radius: 5px 5px 0 0;

	margin-top: -24px;
}

section.selected h1 {
	border-bottom: none;
	box-sizing: content-box;
	width: calc(100% - 16px - 16px);
	height: 23px;
	transform: translate(-1px, -1px);
	padding-bottom: 1px;
	margin-bottom: -1px;
}

section .row.thumbnail {
	margin-bottom: 8px;
}

section .row.in label {
	text-align: left;
}

section .row.out:not(.in) label {
	text-align: right;
}

/* Numerical input box */
section label {
	position: relative;
	z-index: 10;
	pointer-events: none;
}

section label .colon {
	display: none;
}

section label input ~ .colon {
	display: inline;
}

section label input,
section select {
	z-index: -1;
	background: hsla(0, 0%, 40%, 0.8);
	display: block;
	outline: none;
	border: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 10px;
	padding: 0 6px;
	width: calc(100% - 32px);
	height: 20px;
	border-radius: 3px;
	text-align: right;
	color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	pointer-events: auto;
}

section label:focus-within {
	color: transparent;
}

section label:focus-within input {
	text-align: center;
}

/* Dropdown input box */
section select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 20px);
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='8'><path d='M4,2 L8,6 L12,2' fill='none' stroke='white' stroke-width='2' /></svg>");
	background-repeat: no-repeat;
	background-position: right 3px center;
}

section select option {
	background: hsl(0, 0%, 10%);
}

/* In/out connector dots */
section .connector {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	border: 1px solid white;
}

section .connector.in {
	left: -6px;
}

section .connector.out {
	right: -6px;
}

/* Connector dot dimension shapes */
section .connector.dimensions-0d {
	border-radius: 50%;
}

section .connector.dimensions-1d {
	border: none;
}

section .connector.dimensions-1d::before,
section .connector.dimensions-1d::after {
	content: "";
	display: block;
	width: 2px;
	height: 10px;
	position: absolute;
	top: -1px;
	border: 1px solid white;
}

section .connector.dimensions-1d::before {
	border-radius: 2px 0 0 2px;
	border-right: none;
	left: -1px;
}

section .connector.dimensions-1d::after {
	border-radius: 0 2px 2px 0;
	border-left: none;
	right: -1px;
}

section .connector.dimensions-2d {
	border-radius: 2px;
}

section .connector.dimensions-3d {
	transform: rotate(45deg);
	width: 8px;
	height: 8px;
	border-radius: 2px;
}

section .connector.dimensions-3d.in {
	left: -5px;
}

section .connector.dimensions-3d.out {
	right: -5px;
}

/* Connector dot data type colors */
section .connector.float {
	background: hsl(0, 0%, 20%);
}

section .connector.float2 {
	background: hsl(0, 0%, 40%);
}

section .connector.float3 {
	background: hsl(0, 0%, 60%);
}

section .connector.float4 {
	background: hsl(0, 0%, 80%);
}

section .connector.int {
	background: indigo;
}

section .connector.bool {
	background: steelblue;
}

section .connector.string {
	background: limegreen;
}

section .connector.color {
	background: coral;
}

/* Offsets for multiple nodes in a group */
section .connector.group-1-of-2 {
	transform: translateY(-10px);
}
section .connector.group-2-of-2 {
	transform: translateY(10px);
}

section .connector.group-1-of-3 {
	transform: translateY(-20px);
}
section .connector.group-3-of-3 {
	transform: translateY(20px);
}

section .connector.group-1-of-4 {
	transform: translateY(-30px);
}
section .connector.group-2-of-4 {
	transform: translateY(-10px);
}
section .connector.group-3-of-4 {
	transform: translateY(10px);
}
section .connector.group-4-of-4 {
	transform: translateY(30px);
}

section .connector:hover {
	background: hsl(0, 0%, 75%);
}

/* Wires */
.wires {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
}

.wires path {
	fill: none;
	stroke: white;
	stroke-width: 2px;
}