html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Yantramanav', sans-serif;
	background: hsl(0, 0%, 12%);
	overflow: hidden;
	font-size: 0;
	overscroll-behavior: none;
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.left {
	flex: 1 1 auto;
	width: 100%;
}

.column.right {
	width: 25%;
}

.node-graph {
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 12px;
	user-select: none;
}

.node-graph .instructions {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	color: white;
	font-size: 16px;
	text-align: center;
}

.brush-viewport canvas {
	width: 100%;
	height: 200px;
}

.material-viewports {
	height: 100%;
	display: inline-block;
}

.material-viewports .viewport-3d,
.material-viewports .viewport-2d {
	width: 100%;
	height: 50%;
	background: black;
	position: relative;
}

.material-viewports .viewport-3d canvas,
.material-viewports .viewport-2d canvas {
	width: 100%;
	height: 100%;
	display: block;
}
